@media screen and (max-width: 1300px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        max-width: 750px;
    }
}

@media screen and (max-width: 780px) {
    .container {
        max-width: 510px;
    }

    .grow_cards {
        flex-direction: column;
        align-items: center;
    }

    .grow_left {
        margin-bottom: 50px;
    }

    .grow_right {
        justify-content: center;
        align-items: center;
    }

    .grow_card {
        margin-bottom: 30px;
    }

    .trust_card {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 540px) {
    .container {
        max-width: 420px;
    }

    .search {
        width: 300px;
    }

    .search_input {
        width: 200px;
        height: 45px;
        border-radius: 28px 0px 0px 28px;
        border: 2px solid #6f2cff;
        background: #ffffff;
        color: rgba(0, 0, 0, 0.27);
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        padding-left: 20px;
    }

    .search .btn_input {
        border-radius: 0px 27.5px 27.5px 0px;
        background: #6F2CFF;
        width: 100px;
        height: 45px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
    }

    .qubit_cards {
        flex-direction: column;
        align-items: center;
    }

    .con_tit {
        text-align: center;
    }

    .con_txt {
        text-align: center;
    }

    .btn_con {
        align-items: center;
    }

    .con_right {
        margin-top: 70px;
    }

    .book_tit {
        text-align: center;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 100%;
    }

    .footer_footer {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1100px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin-bottom: 1.5rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-link {
        color: white;
    }
.btns{
    margin-bottom: 10px;
}
}

@media only screen and (max-width: 550px) {
    .btns {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn_all {
        margin-bottom: 20px;
    }

    .con_right {
        margin-bottom: -160px;
    }

    .footer_footer {
        height: 120px;
        text-align: center;
        margin-left: 50px;
    }

    .grow_cards {
        margin-bottom: -100px;
    }
}

