html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #1C1C1C;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1240px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #1C1C1C;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #1C1C1C;
}

.btn {
	border-radius: 30px;
	background: #6F2CFF;
	color: #FFF;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}

.btn:hover {
	box-shadow: 0px 6px 5px 2px #1C1C1C;
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #1C1C1C;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



/* header */

.nav-logo img {
	width: 79px;
}

header .container {
	max-width: 1440px;
	margin: 0 auto;
}

.btns .btn {
	width: 157px;
	height: 40px;
	flex-shrink: 0;
}

.btns {
	width: 240px;
}

.btny {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1C1C1C;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	text-decoration: none;
}

.header {
	border-bottom: 1px solid #E2E8F0;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	width: 821px;
}


.nav-link {
	color: #101010;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-decoration: none;
}

.nav-link:hover {
	color: #525252;
}


/* burger */

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}


.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}